# project configs
project = {
  name = "go-gin-backend"
}

# aws configs
aws = {
  account_id = "0000000000000"
  region     = "ap-southeast-1"
}

# dns configs
dns = {
  domain = {
    domain_name = "itsag1t6.com"
  }
  zone = {
    id = "zone-id-from-base"
  }
}

# cert configs
certificate = {
  arn = "cert-arn-from-base"
}

# vpc configs
vpc = {
  id                   = "vpc-id-from-base"
  cidr                 = "10.0.0.0/20"
  private_subnet_ids   = ["subnet-ids-from-base"]
  private_subnet_cidrs = ["10.0.0.0/24", "10.0.1.0/24", "10.0.2.0/24"]
  public_subnet_ids    = ["subnet-ids-from-base"]
  public_subnet_cidrs  = ["10.0.3.0/24", "10.0.4.0/24", "10.0.5.0/24"]
}

# ecs configs
ecs = {
  instance_type = "t2.micro"
  asg = {
    desired_capacity = 1
    max_size         = 2
    min_size         = 1
  }
}

# tg configs
tg = {
  hc = {
    path                = "/api/v1/health"
    protocol            = "HTTP"
    interval            = 30
    matcher             = "200"
    healthy_threshold   = 2
    unhealthy_threshold = 2
  }
}

# key pair
key_pair = {
  name = "your-key-name"
}

# environment variables
ENV = {
  "MONGO_HOST"             = "your-mongo-host"
  "MONGO_USERNAME"         = "your-mongo-user"
  "MONGO_PASSWORD"         = "your-mongo-password"
  "JWT_SECRET"             = "your-jwt-secret"
  "KAFKA_BOOTSTRAP_SERVER" = "your-kafka-bs-server"
}

# iam policies and roles
iam = {
  instance_profile_arn = "instance-profile-arn-from-base"
  instance_role_arn    = "instance-role-arn-from-base"
  service_role_arn     = "service-role-arn-from-base"
}


