# aws config
aws = {
  account_id = "00000000000"
  region     = "ap-southeast-1"
}

# mongodb atlas config
atlas = {
  project_name   = "mongo"
  project_id     = "0000000000"
  project_region = "AP_SOUTHEAST_1"
  username       = "your-secret-user"
  password       = "your-secret-password"
}

# vpc config
vpc = {
  id                 = "vpc-id-from-base"
  cidr               = "10.0.0.0/16"
  private_subnet_ids = ["private-subnet-ids-from-base"]
  public_subnet_ids  = ["public-subnet-ids-from-base"]
  private_subnets    = ["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]
  public_subnets     = ["10.0.101.0/24", "10.0.102.0/24", "10.0.103.0/24"]
}

